@import "tailwindcss";

:root {
  --primary: #13ec13;
  --background-light: #f6f8f6;
  --background-dark: #102210;

  --background: var(--background-light);
  --foreground: var(--background-dark);
}

@theme inline {
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
